header{
    background-color: dimgrey;
    padding: 2rem 0;
    text-align: center;
}
header > a {
    color: ghostwhite;
    text-decoration: none;
    padding: 0 1rem;
}
header > a:hover {
    text-decoration: underline;
}



.active {
    color: darkblue;
    cursor: default;
}